@{
    ViewData["Title"] = "Canadian Federal Parties";
}

<div class="text-center">
    <h1 class="display-4">Canadian Federal Parties</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Canadian Federal Parties</a>.</p>
</div>
